.App {
  text-align: center;
  background-color: #121212;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.addCard {
  height: 35vh;
  width: 25vh;
  justify-content: center;
  margin: 10px;
  display: flex;
  flex-direction: column;
  color: white;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.addCircle {
 transform: scale(3);
 font-size: 200px;
 color: #282c34;
}

p {
  font-weight: 600;
}

